Repository beefyfinance/beefy-v2, pull requests merged in 2022-07, with the labels that each got.

#888 add WELL-GLMR
  src/config/vault/moonbeam.json
  src/images/single-assets/WELL.png
Labels: vault-pr

#896 add vault biswap-sand-usdt
  package.json
  src/config/vault/bsc.json
  yarn.lock
Labels: vault-pr

#903 EOL Kebab for low TVL (and website gone) + EOL 1 ftm and 3 BSC for rewards
  src/config/vault/bsc.json
  src/config/vault/fantom.json
  src/config/vault/polygon.json
Labels: vault-pr

#900 add TUSD-USDC
  src/config/vault/cronos.json
Labels: vault-pr

#890 Remove important styles
  src/components/vaultTags/styles.tsx
  src/features/vault/styles.tsx
Labels: ux-ok, code-ok

#905 Fix: bug on long aseets names in deposit/withdraw section
  src/features/vault/components/TokenWithBalance/TokenWithBalance.tsx
  src/features/vault/components/TokenWithDeposit/TokenWithDeposit.tsx
Labels: ux-ok

#912 EOL Expired Beamswap Vaults
  src/config/vault/moonbeam.json
Labels: vault-pr

#891 web3modal -> Blocknative Onboard
  package.json
  src/components/AssetsImage/styles.tsx
  src/config/config.tsx
  src/features/data/apis/config-types.ts
  src/features/data/apis/wallet/wallet-connection.ts
  src/images/wallets/core-wallet.svg
  src/images/wallets/crypto.png
  src/theme.ts
  yarn.lock
Labels: ux-ok

#904 Fix: Remove stray border on LP desktop view
  src/features/vault/components/LiquidityPoolBreakdown/components/ChartWithLegend/styles.tsx
Labels: ux-ok, code-ok

#911 [UPDATE] Add single-lp strategy type
  src/config/vault/avax.json
  src/config/vault/bsc.json
  src/config/vault/fantom.json
  src/locales/en/risksNstrats.json
Labels: ux-ok

#913 [UPDATE] Hex for disabled text
  src/theme.ts
Labels: ux-ok

#914 Add Stargate Op USDC & ETH
  package.json
  src/config/vault/optimism.json
  src/images/single-assets/soETH.svg
  src/images/single-assets/soUSDC.svg
  yarn.lock
Labels: vault-pr

#920 Fix: Solarbeam zap withdraw
  src/config/abi/uniswapV2Router.json
  src/config/zap/moonriver.tsx
  src/features/data/apis/config-types.ts
  src/features/data/apis/zap.ts
Labels: ux-ok, code-ok

#921 Add new Ripae vaults
  src/config/vault/cronos.json
  src/config/vault/polygon.json
  src/images/single-assets/pCRO.svg
  src/images/single-assets/sCRO.svg
Labels: vault-pr

#924 EOL Vaults for no rewards and low tvl
  src/config/vault/avax.json
  src/config/vault/bsc.json
  src/config/vault/cronos.json
  src/config/vault/fantom.json
  src/config/vault/metis.json
Labels: vault-pr

#926 Update Ripae vaults to 0% Withdrawal Fee
  src/config/vault/cronos.json
Labels: vault-pr

#930 MMF Zap: Use getAmountsOut withdrawEstimateMode
  src/config/zap/cronos.tsx
Labels: ux-ok

#922 Updated DeFi wallet detection
  src/features/data/apis/wallet/wallet-connection.ts
Labels: ux-ok

#929 Add Spooky gALCX-FTM
  src/config/vault/fantom.json
  src/images/single-assets/gALCX.png
Labels: vault-pr

#933 Add BabySwap wbnb-busd, usdc-wbnb vaults, activate Filter for BabySwap on V2
  src/config/platforms.json
  src/config/vault/bsc.json
Labels: vault-pr

#935 Styled switch network modal text
  package.json
  src/features/data/actions/wallet.ts
  src/features/data/apis/wallet/wallet-connection.ts
  src/theme.ts
  yarn.lock
Labels: ux-ok

#937 Fix: Paused vaults APY sort
  src/features/data/selectors/filtered-vaults.ts
Labels: ux-ok

#938 Add Arb Balancer BAL-ETH & VST stablepool
  src/config/config.tsx
  src/config/vault/arbitrum.json
  src/images/single-assets/VST.svg
Labels: vault-pr

#940 Add Velodrome pools
  src/config/config.tsx
  src/config/vault/optimism.json
  src/images/single-assets/alETH.svg
  src/images/single-assets/alUSD.svg
Labels: vault-pr

#951 EOL ftm-deus for now rewards. EOL cronaswap vaults
  src/config/vault/cronos.json
  src/config/vault/fantom.json
Labels: vault-pr

#954 [UPDATE] footer and header links
  src/App.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/config/media-kit.tsx
  src/features/media-kit/MediaKit.tsx
  src/features/media-kit/components/AssetSection/AssetSection.tsx
  src/features/media-kit/components/AssetSection/AssetSectionProps.tsx
  src/features/media-kit/components/AssetSection/index.tsx
  src/features/media-kit/components/AssetSection/styles.tsx
  src/features/media-kit/components/MediaCard/MediaCard.tsx
  src/features/media-kit/components/MediaCard/MediaCardProps.tsx
  src/features/media-kit/components/MediaCard/index.tsx
  src/features/media-kit/components/MediaCard/styles.tsx
  src/features/media-kit/index.tsx
  src/features/media-kit/styles.tsx
  src/images/brand-assets/PNG/Autocompounding.png
  src/images/brand-assets/PNG/Autocompounding_white.png
  src/images/brand-assets/PNG/BIFI.png
  src/images/brand-assets/PNG/Just_Beefy_Black@2x.png
  src/images/brand-assets/PNG/Just_Beefy_DARK@2x.png
  src/images/brand-assets/PNG/Just_Beefy_Light@2x.png
  src/images/brand-assets/PNG/Just_Beefy_White@2x.png
  src/images/brand-assets/PNG/beFTM.png
  src/images/brand-assets/PNG/beJOE.png
  src/images/brand-assets/PNG/beQI.png
  src/images/brand-assets/PNG/beefy.com_QR@2x.png
  src/images/brand-assets/PNG/binSPIRIT.png
  src/images/brand-assets/PNG/binSPIRIT_lp.png
  src/images/brand-assets/SVG/Autocompounding.svg
  src/images/brand-assets/SVG/Autocompounding_white.svg
  src/images/brand-assets/SVG/BIFI.svg
  src/images/brand-assets/SVG/Just_Beefy_DARK.svg
  src/images/brand-assets/SVG/Just_beefy.svg
  src/images/brand-assets/SVG/Just_beefy_white.svg
  src/images/brand-assets/SVG/beFTM.svg
  src/images/brand-assets/SVG/beJOE.svg
  src/images/brand-assets/SVG/beQI.svg
  src/images/brand-assets/SVG/beefy.com_QR.svg
  src/images/brand-assets/SVG/binSPIRIT-SPIRIT.svg
  src/images/brand-assets/SVG/binSPIRIT.svg
  src/images/brand-assets/SVG/just_black_beefy.svg
Labels: ux-ok

#958 Add proposal banner
  src/components/ProposalBanner/ProposalBanner.tsx
  src/components/ProposalBanner/index.tsx
  src/components/ProposalBanner/styles.tsx
  src/features/home/home.tsx
  src/images/snapshot-logo.svg
Labels: design-ok, ux-ok

#941 Add BabySwap atom-usdt, usdt-usdc, usdt-sol, near-usdt vaults
  src/config/vault/bsc.json
Labels: vault-pr

#942 Add babyswap BUSD-USDT
  src/config/vault/bsc.json
Labels: vault-pr

#955 Add PancakeV2 OLE-BUSD vault on BSC
  src/config/vault/bsc.json
  src/images/single-assets/OLE.png
Labels: vault-pr

#961 Add Stables
  src/config/config.tsx
  src/config/vault/aurora.json
  src/config/vault/bsc.json
  src/config/vault/fuse.json
  src/config/vault/moonbeam.json
  src/config/vault/moonriver.json
  src/images/single-assets/BRZ.png
  src/images/single-assets/USN.svg
  src/images/single-assets/jBRL.svg
  src/images/single-assets/xcKBTC.png
Labels: vault-pr

#962 Add ripae's vaults on arbitrum
  src/config/vault/arbitrum.json
  src/images/single-assets/pETH.svg
  src/images/single-assets/psETH.svg
Labels: vault-pr

#964 EOL 2 Vaults; Rewards ended
  src/config/vault/bsc.json
  src/config/vault/fantom.json
Labels: vault-pr

#965 [UPDATE] ripae partner website
  src/config/boost/partners.json
Labels: ux-ok

#966 Remove banner
  src/features/home/home.tsx
  yarn.lock
Labels: ux-ok

#968 EOL Based Vaults and 2 PCS Vaults for Rewards
  src/config/vault/bsc.json
  src/config/vault/fantom.json
Labels: vault-pr

#963 Add Stargate Poly
  src/config/vault/polygon.json
Labels: vault-pr

#973 Add 2 Jarvis and reactivate 5
  src/config/vault/polygon.json
Labels: vault-pr

#956 Velodrome Zap
  src/config/abi/solidlyPair.json
  src/config/zap/optimism.tsx
  src/features/data/actions/deposit.ts
  src/features/data/actions/wallet-actions.tsx
  src/features/data/actions/withdraw.ts
  src/features/data/actions/zap.ts
  src/features/data/apis/config-types.ts
  src/features/data/apis/zap.ts
  src/features/data/apis/zap/helpers.ts
  src/features/data/apis/zap/index.ts
  src/features/data/apis/zap/solidly.ts
  src/features/data/apis/zap/uniswap-v2.ts
  src/features/data/apis/zap/zap-types.ts
  src/features/data/apis/zap/zap.ts
  src/features/data/reducers/wallet/deposit.ts
  src/features/data/reducers/wallet/withdraw.ts
  src/features/vault/components/FeeBreakdown/FeeBreakdown.tsx
Labels: ux-ok

#979 EOL 2 Poly and 2 Fuse Vaults
  src/config/vault/fuse.json
  src/config/vault/polygon.json
Labels: vault-pr
