Repository beefyfinance/beefy-v2, pull requests merged in 2023-02, with the labels that each got.

#1261 EOL ApeSwap vaults due to WL of v2 MC
  src/config/vault/bsc.json
Labels: vault-pr

#1253 Update vault configs with removeLiquidityUrl, add button for url
  src/components/ContentLoading/ContentLoading.tsx
  src/config/vault/arbitrum.json
  src/config/vault/aurora.json
  src/config/vault/avax.json
  src/config/vault/bsc.json
  src/config/vault/celo.json
  src/config/vault/cronos.json
  src/config/vault/emerald.json
  src/config/vault/ethereum.json
  src/config/vault/fantom.json
  src/config/vault/fuse.json
  src/config/vault/harmony.json
  src/config/vault/heco.json
  src/config/vault/kava.json
  src/config/vault/metis.json
  src/config/vault/moonbeam.json
  src/config/vault/moonriver.json
  src/config/vault/optimism.json
  src/config/vault/polygon.json
  src/features/data/entities/vault.ts
  src/features/data/reducers/vaults.ts
  src/features/vault/components/Actions/Transact/WithDrawLinks/WithdrawLinks.tsx
  src/features/vault/components/Actions/Transact/WithDrawLinks/index.ts
  src/features/vault/components/Actions/Transact/WithDrawLinks/styles.ts
  src/features/vault/components/Actions/Transact/WithdrawForm/WithdrawForm.tsx
  src/locales/en/main.json
  src/locales/zh/main.json
Labels: ux-ok, vault-pr

#1238 [UPDATE] treasury page
  src/components/PieChart/PieChart.tsx
  src/components/PieChartTooltip/PieChartTooltip.tsx
  src/components/PieChartTooltip/index.tsx
  src/components/PieChartTooltip/styles.tsx
  src/components/SummaryStats/SummaryStats.tsx
  src/components/SummaryStats/styles.tsx
  src/features/dashboard/components/ChartDetails/ChartDetails.tsx
  src/features/dashboard/components/ExposureChart/ExposureChart.tsx
  src/features/data/apis/config-types.ts
  src/features/data/selectors/balance.ts
  src/features/data/selectors/treasury.ts
  src/features/data/utils/array-utils.ts
  src/features/data/utils/feature-flags.ts
  src/features/data/utils/string-utils.ts
  src/features/treasury/components/DaoExposure/DaoExposure.tsx
  src/features/treasury/components/DaoExposure/styles.tsx
  src/features/treasury/components/DaoHoldings/components/AssetInfo/AssetInfo.tsx
  src/features/treasury/components/DaoHoldings/components/AssetInfo/styles.tsx
  src/features/treasury/components/DaoHoldings/components/Assets/Assets.tsx
  src/features/treasury/components/DaoHoldings/components/Assets/hooks.tsx
  src/features/treasury/components/DaoHoldings/components/Assets/styles.tsx
  src/features/treasury/components/DaoHoldings/components/ChainHolding/ChainHolding.tsx
  src/features/treasury/components/DaoHoldings/components/ChainHolding/styles.tsx
  src/features/treasury/components/DaoSummary/DaoSummary.tsx
  src/features/treasury/components/DaoSummary/styles.tsx
  src/features/treasury/components/ExplorerLinks/ExplorerLinks.tsx
  src/features/treasury/components/ExplorerLinks/index.tsx
  src/features/treasury/components/ExplorerLinks/styles.tsx
  src/features/treasury/components/ExposureBar/ExposureBar.tsx
  src/features/treasury/components/ExposureBar/index.tsx
  src/features/treasury/components/ExposureBar/styles.tsx
  src/features/treasury/components/ExposureChart/ExposureChart.tsx
  src/features/treasury/components/ExposureChart/index.tsx
  src/features/treasury/components/ExposureChart/styles.tsx
  src/features/treasury/components/ExposureLegend/ExposureLegend.tsx
  src/features/treasury/components/ExposureLegend/index.tsx
  src/features/treasury/components/ExposureLegend/styles.tsx
  src/features/treasury/components/TreasuryAvailabilityExposure/index.tsx
  src/features/treasury/components/TreasuryChainExposure/index.tsx
  src/features/treasury/components/TreasuryTokenExposure/index.tsx
  src/images/icons/external-link.svg
  src/locales/en/main.json
  src/theme.ts
Labels: ux-ok

#1268 Add GNS
  src/config/platforms.json
  src/config/vault/arbitrum.json
  src/config/vault/polygon.json
Labels: vault-pr

#1270 Add Stargate DAI & FRAX on OP
  src/config/vault/arbitrum.json
  src/config/vault/avax.json
  src/config/vault/bsc.json
  src/config/vault/ethereum.json
  src/config/vault/fantom.json
  src/config/vault/optimism.json
  src/config/vault/polygon.json
  src/config/zap/one-inch.ts
Labels: vault-pr

#1263 Add Okx, remove Clover, update web3-onboard + plugins
  package.json
  src/features/data/apis/wallet/custom-injected-wallets.ts
  src/features/data/apis/wallet/wallet-connection.ts
  src/images/bifi-logos/header-logo.svg
  src/images/wallets/clover.png
  src/theme.ts
  yarn.lock
Labels: ux-ok

#1272 EOL Jarvis Vaults. They are moving to Balancer
  src/config/vault/polygon.json
Labels: vault-pr

#1278 [UPDATE] add banner bip62
  src/components/Banners/AnnouncementBanner/AnnouncementBanner.tsx
  src/features/home/home.tsx
Labels: ux-ok

#1279 Add USDT Stargate on Metis
  src/config/vault/metis.json
Labels: vault-pr

#1283 remove bip62 banner
  src/features/home/home.tsx
Labels: ux-ok

#1281 [Vault] Add Wigo sFTMx-FTM
  src/config/vault/fantom.json
Labels: vault-pr

#1273 beFTM Minter: Buy via 1nch if under peg
  src/components/Stepper/components/BridgeContent/BridgeContent.tsx
  src/components/Stepper/components/BridgeContent/BridgeInfo.tsx
  src/components/Stepper/components/Content/Content.tsx
  src/config/abi/minter.json
  src/config/minters/fantom.tsx
  src/features/data/actions/wallet-actions.tsx
  src/features/data/apis/config-types.ts
  src/features/data/selectors/stepper.ts
  src/features/vault/components/Actions/Minter/MintBurnCard/components/Mint.tsx
  src/helpers/format.tsx
  src/locales/en/main.json
Labels: ux-ok

#1292 Boost sorting
  src/features/data/selectors/boosts.ts
  src/features/data/selectors/filtered-vaults.ts
Labels: ux-ok

#1293 Feature/thena
  src/config/config.tsx
  src/config/vault/bsc.json
  src/images/single-assets/ETSAlpha.png
Labels: vault-pr

#1271 [FIX] rowGap on vault Stats
  src/features/vault/components/VaultsStats/styles.tsx
Labels: ux-ok

#1297 Add Beets Fantom of the Opera, Act II
  src/config/vault/fantom.json
Labels: vault-pr

#1306 EOL 4 vaults for rewards, 4 vaults for TVL
  src/config/vault/arbitrum.json
  src/config/vault/bsc.json
  src/config/vault/cronos.json
  src/config/vault/fantom.json
  src/config/vault/optimism.json
Labels: vault-pr

#1304 Add new Pangolin USDT-AVAX LP
  src/config/vault/avax.json
Labels: vault-pr

#1309 Add Thena USDT-USDC and MULTI-BUSD
  src/config/vault/bsc.json
Labels: vault-pr

#1310 Add Equalizer BTC-FTM
  src/config/vault/fantom.json
Labels: vault-pr

#1311 Add Thena MATIC-BUSD vLP
  src/config/vault/bsc.json
Labels: vault-pr

#1313 [Vault] Add sfrxeth-frxeth on velo and thena
  package.json
  src/config/vault/arbitrum.json
  src/config/vault/avax.json
  src/config/vault/bsc.json
  src/config/vault/fantom.json
  src/config/vault/moonbeam.json
  src/config/vault/moonriver.json
  src/config/vault/optimism.json
  src/config/zap/one-inch.ts
  src/images/single-assets/FXS.png
  yarn.lock
Labels: vault-pr

#1299 Proposal notification
  src/components/Header/Header.tsx
  src/components/Header/components/Badges/NewBadge.tsx
  src/components/Header/components/Badges/NotificationCount.tsx
  src/components/Header/components/Badges/NotificationDot.tsx
  src/components/Header/components/Badges/UnreadProposalsCount.tsx
  src/components/Header/components/Badges/UnreadProposalsDot.tsx
  src/components/Header/components/Badges/types.ts
  src/components/Header/components/DropNavItem/DropNavItem.tsx
  src/components/Header/components/DropNavItem/styles.tsx
  src/components/Header/components/DropNavItem/types.ts
  src/components/Header/components/MobileMenu/MobileMenu.tsx
  src/components/Header/components/MobileMenu/styles.tsx
  src/components/Header/components/NavItem/NavItem.tsx
  src/components/Header/components/NavItem/ProposalsMobileNavItem.tsx
  src/components/Header/components/NavItem/ProposalsNavItem.tsx
  src/components/Header/components/NavItem/styles.tsx
  src/components/Header/list.tsx
  src/features/data/actions/proposal.ts
  src/features/data/apis/beefy.ts
  src/features/data/entities/proposal.ts
  src/features/data/reducers/data-loader-types.ts
  src/features/data/reducers/data-loader.ts
  src/features/data/reducers/index.tsx
  src/features/data/reducers/proposals.ts
  src/features/data/selectors/data-loader.ts
  src/features/data/selectors/proposals.ts
  src/features/data/utils/feature-flags.ts
  src/locales/en/main.json
  src/redux-types.ts
Labels: ux-ok

#1308 Fix withdraw dust message
  src/components/Stepper/components/Content/Content.tsx
  src/features/data/actions/wallet-actions.tsx
  src/features/data/apis/transact/providers/beefy/base.ts
  src/features/data/apis/transact/transact-types.ts
  src/features/data/reducers/wallet/wallet-action.ts
  src/features/data/selectors/stepper.ts
Labels: ux-ok

#1312 Add Sushi KAVA-axlUSDC
  src/config/vault/kava.json
  src/images/single-assets/USDCaxl.svg
Labels: vault-pr
