Repository beefyfinance/beefy-v2, pull requests merged in 2023-06, with the labels that each got.

#1499 [UPDATE] Safety Score component
  src/components/SafetyScore/SafetyScore.tsx
  src/components/SafetyScore/styles.tsx
  src/features/vault/components/SafetyCard/SafetyCard.tsx
  src/locales/en/main.json
Labels: ux-ok

#1504 Use token image for Add to Wallet button
  src/features/vault/components/AddTokenToWallet/AddTokenToWallet.tsx
Labels: ux-ok

#1512 Add Ramses sfrxETH-frxETH sLP
  src/config/vault/arbitrum.json
Labels: vault-pr

#1513 Add Equilibre BIFI-USDC
  src/config/vault/kava.json
Labels: vault-pr

#1515 [UPDATE] update USDC --> USDC.e on arbitrum
  src/config/config.tsx
  src/config/vault/arbitrum.json
Labels: don't merge

#1510 Disable double rendering via useMediaQuery
  src/components/Header/Header.tsx
  src/components/LanguageDropdown/LanguageDropdown.tsx
  src/components/LinkButton/LinkButton.tsx
  src/components/PieChart/PieChart.tsx
  src/components/SafetyScore/styles.tsx
  src/components/VaultLabelledStat/VaultLabelledStat.tsx
  src/components/VaultStats/VaultSafetyStat.tsx
  src/features/dashboard/components/UserVaults/UserVaults.tsx
  src/features/dashboard/components/UserVaults/components/Vault/Vault.tsx
  src/features/dashboard/components/UserVaults/components/VaultTransactions/VaultTransactions.tsx
  src/features/home/components/Filters/Filters.tsx
  src/features/home/components/Portfolio/UserStats/UserStats.tsx
  src/features/home/components/Vaults/components/VaultsSort/VaultsSort.tsx
  src/features/home/components/Vaults/components/VirtualVaultsList/VirtualVaultsList.tsx
  src/features/treasury/components/DaoHoldings/DaoHoldings.tsx
  src/features/treasury/components/DaoHoldings/components/AssetInfo/AssetInfo.tsx
  src/features/vault/components/HistoricGraph/Graph/Graph.tsx
  src/features/vault/components/PnLGraph/components/Graph/Graph.tsx
Labels: ux-ok

#1518 Add Equilibre vaults
  src/config/vault/kava.json
  src/images/single-assets/axlETH.svg
  src/images/single-assets/axlWBTC.png
Labels: vault-pr

#1524 add USDCe as option for zap on Arbitrum
  src/config/zap/one-inch.json
Labels: ux-ok

#1528 Add synapse vault
  src/config/platforms.json
  src/config/vault/ethereum.json
Labels: vault-pr

#1529 Add Beets Ankr Ethereum Liquid Ocean
  src/config/vault/fantom.json
Labels: vault-pr

#1532 Add Exactly wstETH
  src/config/vault/optimism.json
Labels: vault-pr

#1531 Basic RPC rate limiting
  package.json
  src/features/data/apis/instances.ts
  src/helpers/web3.ts
Labels: ux-ok

#1527 Move from WalletConnect v1 to v2
  package.json
  src/features/data/apis/wallet/wallet-connection.ts
  tsconfig.json
  yarn.lock
Labels: ux-ok

#1519 [UPDATE] Remove Language from Nav & Update Safety Score text
  src/components/Header/Header.tsx
  src/components/Header/components/ConnectionStatus/ConnectionStatus.tsx
  src/components/Header/components/MobileMenu/MobileMenu.tsx
  src/components/NetworkStatus/NetworkStatus.tsx
  src/locales/en/main.json
Labels: ux-ok

#1538 Add VelodromeV2 LUSD-USDT sLP
  src/config/vault/optimism.json
Labels: vault-pr

#1542 Add Ankr Fantom Liquid Mosaic vault
  src/config/vault/fantom.json
  src/config/vault/optimism.json
  src/config/vault/polygon.json
Labels: vault-pr

#1543 Vault : Add Stable DOLA-MAI velodrome v2
  src/config/vault/optimism.json
Labels: vault-pr

#1546 Add VelodromeV2 LPs
  src/config/vault/optimism.json
Labels: vault-pr

#1549 Add VelodromeV2 LPs
  src/config/vault/optimism.json
Labels: vault-pr

#1550 Update Velo v1/v2 urls
  scripts/setVaultUrls.ts
  src/config/vault/bsc.json
  src/config/vault/ethereum.json
  src/config/vault/optimism.json
Labels: vault-pr
