Repository beefyfinance/beefy-v2, pull requests merged in 2023-09, with the labels that each got.

#1713 Upgrade BaseSwap
  scripts/validatePools.ts
  src/config/vault/base.json
Labels: vault-pr

#1687 [Feat] Quickswap Gamma BOB-USDC Stable Stategy
  src/config/vault/polygon.json
Labels: vault-pr

#1716 Add BaseSwap MAI
  src/config/vault/base.json
Labels: vault-pr

#1720 Add aerodrome vaults
  src/config/config.tsx
  src/config/vault/base.json
Labels: vault-pr

#1699 Update: Fix Floating Position on Platform Filter
  src/components/Floating/Floating.tsx
  src/components/LabeledSearchMultiSelect/LabeledSearchMultiSelect.tsx
  src/components/LabeledSearchMultiSelect/styles.ts
  src/components/LabeledSelect/LabeledSelect.tsx
  src/components/Search/Search.tsx
  src/config/config.tsx
  src/features/home/components/Filters/components/ExtendedFilters/ExtendedFilters.tsx
  src/features/home/components/Filters/components/PlatformFilters/PlatformDropdownFilter.tsx
Labels: ux-ok

#1727 Add BaseSwap BSX
  src/config/vault/base.json
  src/images/single-assets/BSX.png
Labels: vault-pr

#1729 add new balancer base vaults
  src/config/vault/base.json
Labels: vault-pr

#1733 Add mooALB boosts
  src/config/boost/base.json
Labels: boost-pr

#1737 Add EXA-ETH Exactly wETH boost
  src/config/boost/optimism.json
Labels: boost-pr

#1747 Add wstETH boosts ARB/OP
  src/config/boost/arbitrum.json
  src/config/boost/optimism.json
Labels: boost-pr

#1748 EOL 11 Vaults Rewards, 1 Vault Platform TVL
  src/config/vault/avax.json
  src/config/vault/bsc.json
  src/config/vault/ethereum.json
  src/config/vault/fantom.json
  src/config/vault/moonriver.json
Labels: vault-pr

#1749 Feat/ Total pool tvl
  src/components/InterestTooltipContent/InterestTooltipContent.tsx
  src/components/VaultStats/VaultTvlStat.tsx
  src/components/VaultTvl/VaultTvl.tsx
  src/locales/en/main.json
Labels: ux-ok

#1752 Fix mobile tooltips in vault list
  src/components/VaultLabelledStat/VaultLabelledStat.tsx
Labels: ux-ok

#1753 fix VaultTvl component
  scripts/validatePools.ts
  src/components/VaultTvl/VaultTvl.tsx
Labels: ux-ok

#1760 Add KLP Boost
  src/config/boost/kava.json
  src/config/boost/partners.json
Labels: boost-pr
