Repository beefyfinance/beefy-v2, pull requests merged in 2023-08, with the labels that each got.

#1619 Add new velodrome vaults
  src/config/vault/optimism.json
  src/images/single-assets/multiUNIDX.svg
Labels: vault-pr

#1630 Update featured vaults
  src/config/vault/featured.json
Labels: ux-ok

#1629 add EXA-ETH boost and Exactly partner info
  src/config/boost/optimism.json
  src/config/boost/partners.json
Labels: boost-pr

#1624 Update : Support v3 holdings on treasury
  src/config/config.tsx
  src/features/data/apis/config-types.ts
  src/features/data/reducers/treasury.ts
  src/features/data/selectors/balance.ts
  src/features/data/selectors/tokens.ts
  src/features/data/selectors/treasury.ts
  src/features/treasury/components/DaoHoldings/components/AssetInfo/AssetInfo.tsx
  src/features/treasury/components/DaoHoldings/components/Assets/hooks.tsx
  src/features/vault/components/LiquidityPoolBreakdown/LiquidityPoolBreakdown.tsx
Labels: ux-ok

#1634 Add QLP
  src/config/strategy-types.json
  src/config/vault/zkevm.json
  src/locales/en/risks.json
Labels: vault-pr

#1639 Add BaseSwap MIM-USDbC
  src/config/vault/base.json
Labels: vault-pr

#1617 Add OOE pools
  src/config/vault/bsc.json
Labels: vault-pr

#1643 Add VeloV2 ETH-HOP
  src/config/vault/optimism.json
Labels: vault-pr

#1646 Add Uniswap Gamma ETH-OP
  src/config/platforms.json
  src/config/vault/optimism.json
Labels: vault-pr

#1642 Add Joe Auto Pools
  src/config/strategy-types.json
  src/config/vault/arbitrum.json
  src/config/vault/avax.json
  src/locales/en/risks.json
Labels: vault-pr

#1640 Add Velocimeter FVM
  src/config/amm/fantom.json
  src/config/platforms.json
  src/config/vault/fantom.json
  src/config/zap/beefy.json
  src/features/data/apis/amm/index.ts
  src/images/single-assets/FVM.png
Labels: vault-pr

#1652 Add BaseSwap Overnight
  src/config/config.tsx
  src/config/vault/base.json
Labels: vault-pr

#1660 add missing stables
  src/config/config.tsx
Labels: ux-ok

#1658 Update: Bridges List
  src/config/bridges.json
Labels: ux-ok

#1638 Add Stargate Base
  src/config/vault/base.json
Labels: don't merge, vault-pr

#1661 Fix: BVM Zap
  src/features/data/apis/amm/BVMSolidlyPool.ts
  src/features/data/apis/amm/index.ts
Labels: ux-ok

#1657 Add Velocimeter BVM-ETH + FVM-FTM vLPs
  src/config/vault/base.json
  src/config/vault/fantom.json
  src/images/single-assets/BVM.png
Labels: vault-pr

#1659 Add Balancer USDbC-axlUSDC
  src/config/vault/base.json
Labels: vault-pr

#1650 Add Dracula vLPs
  src/config/amm/zksync.json
  src/config/platforms.json
  src/config/vault/zksync.json
  src/config/zap/beefy.json
  src/features/data/apis/amm/index.ts
  src/images/single-assets/FANG.png
Labels: vault-pr

#1665 Add Velocimeter BVM cbETH-ETH vLP
  src/config/config.tsx
  src/config/vault/base.json
  src/images/single-assets/oBVM.png
Labels: vault-pr

#1666 Add AlienBase
  src/config/amm/base.json
  src/config/platforms.json
  src/config/vault/base.json
  src/config/zap/beefy.json
  src/images/single-assets/ALB.png
Labels: vault-pr

#1668 add cbETH-ETH boost and Alienbase partner info
  src/config/boost/base.json
  src/config/boost/partners.json
Labels: boost-pr

#1671 Add BaseSwap axlWBTC-USDbC
  src/config/vault/base.json
Labels: vault-pr

#1673 Add AlienBase Overnight
  src/config/vault/base.json
Labels: vault-pr

#1674 Add BaseSwap WETH-UNIDX
  src/config/vault/base.json
Labels: vault-pr

#1663 Enable eip1559 on base
  src/config/config.tsx
Labels: ux-ok

#1675 Disable Binance Connect
  src/features/data/reducers/on-ramp.ts
  src/features/on-ramp/components/OnRamp/providers.tsx
Labels: ux-ok

#1680 Add DAI-USDbC Alienbase Boost
  src/config/boost/base.json
Labels: boost-pr

#1681 Add MIM-USDt Kava Boost
  src/config/boost/base.json
  src/config/boost/kava.json
Labels: boost-pr

#1689 Update:custom retired reason for scream-tusd/frax vaults
  src/config/vault/fantom.json
  src/features/vault/components/RetirePauseReason/RetirePauseReason.tsx
  src/locales/en/main.json
Labels: ux-ok

#1690 Add Velocimeter FVM LPs
  src/config/vault/fantom.json
Labels: vault-pr

#1679 Add Jrt-eth velo v2
  src/config/vault/optimism.json
  src/images/single-assets/JRT.svg
Labels: vault-pr

#1692 Vault : wstETH-PENDLE Variable LP velodrome v2
  package.json
  src/config/vault/optimism.json
  src/images/single-assets/PENDLE.svg
  yarn.lock
Labels: vault-pr

#1686 Add Baso
  src/config/amm/base.json
  src/config/platforms.json
  src/config/vault/base.json
  src/config/zap/beefy.json
Labels: vault-pr

#1702 Update web3-onboard/walletconnect
  package.json
  src/features/data/apis/wallet/wallet-connection.ts
  src/features/data/utils/feature-flags.ts
  yarn.lock
Labels: ux-ok

#1696 add new balancer arb vaults
  src/config/vault/arbitrum.json
Labels: vault-pr

#1707 Add Aero-USDbC Volatile Pool
  src/config/vault/base.json
  src/images/single-assets/AERO.svg
Labels: vault-pr
