Repository beefyfinance/beefy-v2, pull requests merged in 2023-03, with the labels that each got.

#1314 Use smaller chunk size for Fantom app multicall
  src/features/data/apis/contract-data/contract-data.ts
  src/features/data/utils/feature-flags.ts
Labels: ux-ok

#1330 [Vault] Add Velo, Lizard vaults
  src/config/config.tsx
  src/config/vault/arbitrum.json
  src/config/vault/bsc.json
  src/config/vault/optimism.json
  src/config/zap/one-inch.json
Labels: vault-pr

#1331 Add Thena Vaults
  src/config/vault/bsc.json
  src/images/single-assets/PRIMAL.png
Labels: vault-pr

#1333 Add Velo VELO-DOLA vLP
  src/config/vault/optimism.json
Labels: vault-pr

#1339 Update zap addresses
  src/config/zap/one-inch.json
  src/features/data/actions/wallet-actions.tsx
Labels: ux-ok

#1340 [Vault] Add Balancer USDC-wUSDR
  src/config/config.tsx
  src/config/vault/polygon.json
Labels: vault-pr

#1341 EOL 3 Vaults for rewards, 4 vaults for Platform TVL
  src/config/vault/arbitrum.json
  src/config/vault/aurora.json
  src/config/vault/bsc.json
  src/config/vault/ethereum.json
  src/config/vault/optimism.json
Labels: vault-pr

#1343 [Vault] Add Thena USDT-USD+
  src/config/vault/bsc.json
Labels: vault-pr

#1345 [VAULT] add velodrome-dola-mai sLP
  src/config/vault/optimism.json
Labels: vault-pr

#1344 Add CakeStable BNBx-BNB and stkBNB-BNB
  src/config/vault/bsc.json
Labels: vault-pr

#1342 [Vault] Add Equilibre vaults
  src/config/config.tsx
  src/config/platforms.json
  src/config/vault/kava.json
  src/images/single-assets/VARA.png
Labels: vault-pr

#1324 Zap filter
  src/config/amm/fantom.json
  src/features/data/actions/scenarios.ts
  src/features/data/actions/vaults.ts
  src/features/data/apis/beefy.ts
  src/features/data/apis/transact/providers/beefy/base.ts
  src/features/data/apis/transact/providers/one-inch/one-inch.ts
  src/features/data/reducers/filtered-vaults.ts
  src/features/data/reducers/vaults.ts
  src/features/data/selectors/filtered-vaults.ts
  src/features/data/selectors/vaults.ts
  src/features/data/utils/feature-flags.ts
  src/features/home/components/Filters/components/ExtendedFilters/ExtendedFilters.tsx
  src/locales/en/main.json
Labels: ux-ok

#1352 Fix: canto-note-usdc oracleId
  src/config/vault/canto.json
Labels: vault-pr

#1353 [UPDATE] polygon crv/aTricrypto & aTricrypto platformId
  src/config/vault/polygon.json
Labels: vault-pr

#1350 Add Solidlizard LUSD-USDC sLP
  src/config/vault/arbitrum.json
Labels: vault-pr

#1356 [VAULT]Equilibre WBTC-ETH
  src/config/vault/kava.json
Labels: vault-pr

#1359 Add UD reverse name lookup
  src/config/abi/unstoppable.json
  src/features/data/actions/wallet.ts
  src/features/data/apis/wallet/wallet-connection.ts
  src/helpers/addresses.ts
  src/theme.ts
  yarn.lock
Labels: ux-ok

#1366 Add Velo DOLA-FRAX sLP
  src/config/vault/optimism.json
Labels: vault-pr

#1367 [Vault] Add Balancer frxETH-ETH
  src/config/vault/arbitrum.json
  src/config/vault/bsc.json
  src/config/vault/optimism.json
  src/config/vault/polygon.json
  src/images/single-assets/jEUR.png
  src/images/single-assets/jEUR.svg
Labels: vault-pr

#1368 Add Thena BNBx-FRAX vLP
  src/config/vault/bsc.json
Labels: vault-pr

#1361 [FIX] avoid NaN on portfolio
  src/features/data/selectors/apy.ts
  src/helpers/format.tsx
Labels: ux-ok

#1365 [FIX] don't add assets to lists with < $10
  src/features/treasury/components/DaoHoldings/DaoHoldings.tsx
  src/features/treasury/components/DaoHoldings/components/AssetInfo/AssetInfo.tsx
  src/features/treasury/components/DaoHoldings/components/Assets/hooks.tsx
Labels: ux-ok

#1370 [UPDATE] Fuse colors and logo
  src/features/home/components/Vault/components/VaultIdentity/styles.ts
  src/features/treasury/components/DaoHoldings/components/ChainHolding/styles.tsx
  src/images/networks/fuse.svg
  src/images/single-assets/FUSE.svg
  src/images/single-assets/WFUSE.svg
Labels: ux-ok

#1364 Align first tick left and last tick right on charts x-axis
  src/components/XAxisTick/XAxisTick.tsx
  src/components/XAxisTick/index.tsx
  src/features/vault/components/HistoricGraph/components/Graph/Graph.tsx
  src/features/vault/components/PnLGraph/components/Graph/Graph.tsx
Labels: ux-ok

#1375 EOL 4 vaults for rewards and 1 vault for platform TVL
  src/config/vault/arbitrum.json
  src/config/vault/avax.json
  src/config/vault/bsc.json
  src/config/vault/optimism.json
Labels: vault-pr

#1382 beVELO minter: zap buy via 1inch when cheaper
  src/config/abi/minter.json
  src/config/minters/avax.tsx
  src/config/minters/fantom.tsx
  src/config/minters/optimism.tsx
  src/config/minters/polygon.tsx
  src/features/data/actions/minters.ts
  src/features/data/actions/wallet-actions.tsx
  src/features/data/apis/config-types.ts
  src/features/data/apis/minter/minter.ts
  src/features/data/selectors/chains.ts
  src/features/vault/components/Actions/Minter/MintBurnCard/components/Burn.tsx
  src/features/vault/components/Actions/Minter/MintBurnCard/components/Mint.tsx
Labels: ux-ok

#1383 Add Velodrome LUSD-USDT/DAI sLPs
  src/config/vault/optimism.json
Labels: vault-pr

#1392 Update Equalizer liquidity urls
  package.json
  scripts/addAmmsToVaults.ts
  scripts/common/chains.ts
  scripts/common/vault-fields.ts
  scripts/setVaultLiquidityUrls.ts
  src/config/vault/ethereum.json
  src/config/vault/fantom.json
Labels: vault-pr

#1393 [Vault] Equilibre axlUSDC-USDC,BNB-VARA,MAI-VARA
  src/config/vault/kava.json
Labels: vault-pr

#1390 Add DOLA and USD+ to list of stables on Arbitrum
  src/config/config.tsx
Labels: ux-ok

#1385 minters: update text
  src/features/vault/components/Actions/Minter/MintBurnCard/components/Burn.tsx
  src/features/vault/components/Actions/Minter/MintBurnCard/components/Mint.tsx
  src/locales/en/main.json
Labels: ux-ok

#1399 EOL1 Vault for rewards, 3 vaults for platform tvl
  src/config/vault/avax.json
  src/config/vault/ethereum.json
  src/config/vault/optimism.json
  src/config/vault/polygon.json
Labels: vault-pr

#1372 Add Ramses
  src/config/amm/arbitrum.json
  src/config/platforms.json
  src/config/vault/arbitrum.json
  src/config/zap/beefy.json
  src/images/single-assets/LQTY.png
  src/images/single-assets/RAM.png
Labels: don't merge, vault-pr

#1403 Add Ramses Arb pools
  package.json
  src/config/vault/arbitrum.json
  src/config/zap/one-inch.json
  src/images/single-assets/DAI+.svg
  src/images/single-assets/RDNT.svg
  src/images/single-assets/oldRDNT.svg
Labels: vault-pr

#1405 Add Velocimeter V2 FLOW-multiBTC/SOMM vLPs
  src/config/vault/canto.json
Labels: vault-pr

#1408 Add Mummy MLP
  src/config/platforms.json
  src/config/strategy-types.json
  src/config/vault/fantom.json
  src/config/vault/optimism.json
  src/config/zap/one-inch.json
  src/locales/en/risksNstrats.json
Labels: vault-pr
