Repository beefyfinance/beefy-v2, pull requests merged in 2024-01, with the labels that each got.

#1931 Update: back to original logo
  src/components/Header/Header.tsx
  src/images/bifi-logos/header-logo-notext-xmas.svg
  src/images/bifi-logos/header-logo-xmas.svg
Labels: ux-ok

#1937 Fix: percent diff for small prices
  src/components/PriceWithChange/PriceWithChange.tsx
  src/helpers/format.ts
Labels: ux-ok

#1938 add Frax as partner and sFRAX boost
  src/config/boost/arbitrum.json
  src/config/boost/partners.json
Labels: don't merge, boost-pr

#1940 Equilibria vault naming
  src/config/vault/arbitrum.json
Labels: ux-ok

#1930 Feat : Show Oracle information on <StragegyCard/>
  src/config/vault/arbitrum.json
  src/config/vault/base.json
  src/config/vault/ethereum.json
  src/config/vault/linea.json
  src/config/vault/metis.json
  src/config/vault/moonbeam.json
  src/config/vault/optimism.json
  src/config/vault/polygon.json
  src/features/data/apis/config-types.ts
  src/features/data/entities/vault.ts
  src/features/data/reducers/vaults.ts
  src/features/vault/components/StrategyCard/StrategyCard.tsx
  src/features/vault/components/StrategyCard/styles.tsx
Labels: ux-ok

#1944 add mantle-canonical
  src/config/bridges.json
Labels: ux-ok

#1945 Add Lendle and WETH Boost
  src/config/boost/mantle.json
  src/config/boost/partners.json
  src/images/single-assets/LEND.svg
Labels: boost-pr

#1950 Add Yield Concerto by FRAX vault
  src/config/config.tsx
  src/config/vault/optimism.json
Labels: vault-pr

#1956 Add Yield Concerto to Frax boosts
  src/config/boost/optimism.json
  src/config/boost/partners.json
Labels: boost-pr

#1951 Add aerodrome USDC-AERO
  src/config/vault/base.json
Labels: vault-pr
