Repository beefyfinance/beefy-v2, pull requests merged in 2025-04, with the labels that each got.

#2633 add convex reusd scrv pool
  src/config/vault/ethereum.json
  src/images/single-assets/reUSD.png
  src/images/single-assets/scrvUSD.png
Labels: vault-pr

#2653 Add wbTSLA-sDAI Merkl Vault
  src/config/vault/gnosis.json
Labels: vault-pr

#2631 Update links take2
  src/config/vault/sonic.json
Labels: changes requested

#2664 Switch away from Boost tab if user unstakes from all boosts and there…
  src/features/data/middlewares/transact.ts
Labels: ux-ok
